{erl_opts, [debug_info, nowarn_export_all]}.

{deps,[
       {meck, "0.8.*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.13"}}}
      ]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","test/Emakefile"]}.

{cover_enabled, false}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
